.bottom-footer{
  background-color:#242424;
  li{
    position: relative;
    &+li:after{
      position: absolute;
      top: 8px;
      left: -1px;
      content: "|";
      color: white;
    }
  }
  a.nav-link{
    color: white;
  }
}
.mobile-fixed-bottom{
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  ul{
    background-color: white;
    justify-content: space-around;
    li{
      padding: 10px 5px;
    }
  }
  a{
    color: black;
    font-size: 12px;
    float: right;
    display: block;
    padding: 0 5px;
  }
}
