.header-search{
  input{
    top: 0;
    right: 100%;
    width: 180px;
    transform: rotateX(90deg);
    transition: all 0.3s linear;
    background-color: #353434;
    border: 1px solid #636363;
    &.show{
      transform: unset;
    }
  }
  .btn-search{
    color: #636363;
    &:focus{
      box-shadow: none;
    }
  }
}
header{
  ul{
    li{
      &+li{
        border-left: 1px solid grey;
        //content: '| ';
      }
      //&:not(:last-child){
      //  border-right: 1px solid rgba(242, 135, 5, 0.6);
      //}
      a{
        color: #3F76A6;
      }
    }
  }
}
.main-menu-mobile{
  &>div{
    border-bottom: 1px solid #EBFF00;
    form{
      display: flex;
      width: 100%;
      justify-content: space-between;
      .btn{
        color: #ffffff;
      }
      input{
        background-color: transparent;
        border: none;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        outline: none;
        color: #ffffff;
      }
    }
  }
  .menu-pc{
    &>li{
      a{
        padding-left: 10px !important;
        color: #ffffff !important;
      }
      .dropdown-menu{
        background-color: transparent !important;

        li{
          width: 50%;
          &:before{
            color: #ffffff;
            content: url("/public/images/icon/alert-circle.svg");
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.menu-pc{
  font-weight: bold;
  .nav-item{
    padding-right: 30px;
    padding-left: 30px;
    @media screen and (max-width: 1200px){
      padding-right: 10px;
      padding-left: 10px;
    }
    .nav-link{
      padding-right: 0;
      padding-left: 0;
      font-size: 18px;
    }
    .dropdown-toggle{
        margin-left: 5px;
    }
  }
  a{
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    &:hover{
      color: red !important;
    }
  }
  &.menu-main{
    a{
      color: white !important;
      margin-left: 5px;
      &:hover, &.active{
        color: red !important;
      }
    }
  }
  &.menu-space{
    li{
        //&:after{
        //  content: "";
        //  position: absolute;
        //  width: 2px;
        //  height: 30px;
        //  top: 8px;
        //  left: -1px;
        //  z-index: 1;
        //  background-color: #4D4D4D;;
        //}
    }
  }
}
li{
  &.fa-live{
    &:before{
      vertical-align: middle;
      content: url("../images/icon/Shape.svg");
    }
  }
  &.fa-schedule{
    &:before{
      vertical-align: middle;

      content: url("../images/icon/Shape (1).svg");

    }
  }
  &.fa-result{
    &:before{
      content: url("../images/icon/Shape (2).svg");
      vertical-align: middle;

    }
  }
  &.fa-rank{
    &:before{
      content: url("../images/icon/Shape (3).svg");
      vertical-align: middle;

    }
  }
  &.fa-sk{
    &:before{
      content: url("../images/icon/Shape (4).svg");
      vertical-align: middle;
    }
  }
}

img.logo-top{
  max-height: 50px !important;
  @media screen and (max-width: 350px){
    width: 200px;
  }
}
.menu-top .nav-item:hover {
  .dropdown-menu {

    display: block;
    text-transform: capitalize;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    right: 0;
    border: none;
    width: 100%;
    @media screen and (max-width: 991px){
      white-space: normal;
    }
    &::-webkit-scrollbar-thumb {
      background: #ff8589;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: red;
    }
    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: rgb(172, 172, 172);
    }

    li{
      padding: 0 5px !important;
      display: inline-block;
      border-left: none;
    }
    a.nav-link{
      padding: .4rem 0.3rem !important;
      font-weight: 400;
      font-size: 14px !important;
      color: #636363;
      &:hover{
        font-weight: 500;
      }
    }
  }
}
.top-header{
  background-color: white;
  height: 54px;
  .trending{
    width: 105px;
    @media screen and (max-width: 771px){
      font-size: 12px;
    }
  }
  #slide-top-header{
    width: -webkit-fill-available;
    .carousel-item{
      @media screen and (max-width: 771px){
        font-size: 12px;
      }
    }
  }
  .header-control{
    @media screen and (max-width: 771px){
      display: none;
    }
  }
  .carousel-control-next{
    width: 30px;
  }
  .carousel-control-prev{
    width: 30px;
    right: 40px;
    left: unset;
  }
}
.middle-header{
  height: 120px;
  align-items: flex-start;
  @media screen and (max-width: 991px){
    height: 50px;
  }
  &>.container{
    height: 94px;
    @media screen and (max-width: 991px){
      height: auto;
      align-self: center;
    }
  }
}
.bottom-header{
  position: absolute;
  top: 95px;
  left: 0;
  right: 0;
  height: 50px;

  &_1{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #242424;
    border-radius: 6px 6px 0px 0px;
    @media screen and (max-width: 991px){
      display: none !important;
    }
    .menu-pc{
      li{
        border-left: 2px solid #4d4d4d;
        height: 35px;
        align-self: center;
        display: flex;
        align-items: center;
        .dropdown-menu{
          border: 1px solid !important;
          border-image-source: linear-gradient(180deg, #FFDEDE 0%, #FFB9B9 95.71%, #FFFFFF 110.13%) !important;
          border-image-slice: 10 !important;
          background: linear-gradient(180deg, #FFFFFF 0%, #FFF5F5 70.71%, #FFFFFF 98.74%);
        }
      }
    }
  }
  @media screen and (max-width: 991px){
    display: none !important;
  }
}

.dropdown-item:hover{
  background-color: #dc3545;
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .offcanvas-collapse {
    z-index: 3;
    position: fixed;
    top: 167px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    overflow-y: auto;
    background-color: #333333;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 991px){
  .offcanvas-collapse {
    top: 48px;
  }
}
// menu bs4

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

