.btn-main {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    &:hover {
        color: #fff;
        background-color: #73aa9c;
        border-color: #dc3545;
    }
}
.rounded-10 {
    border-radius: 10px;
}
a {
    color: black;
    &:hover {
        text-decoration: none;
        color: #dc3545;
    }
}
.border-bottom-dashed {
    border-bottom: 1px dashed #dee2e6;
}
.text-green {
    color: #fc5b05;
}
.text-orange {
    color: #fc5b05;
}
.home-post-top-right {
    background-color: white;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;

    .home-post-top-right-title {
        text-align: center;
        padding: 15px 0;

        a {
            color: white;
            background-color: #dc3545;
            border-radius: 3px 20px;
            padding: 5px 30px;
            font-weight: bold;
        }
    }

    .home-post-top-right-content {
        max-height: 430px;
        overflow: hidden;
        padding: 0 5px 0 15px;
        @media screen and (max-width: 991px) {
            text-align: center;
        }
        a {
            color: black;
            position: relative;

            &:before {
                content: '';
                width: 5px;
                height: 5px;
                background-color: #dc3545;
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translateY(-50%);
            }
        }
    }

    .home-post-top-right-more {
        height: 35px;
        background-color: #dc3545;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: white;
        }
    }
}

.swiper-pagination.post-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 50% !important;
    transform: translateX(15px);
    max-width: 10px;

    .swiper-pagination-bullet {
        margin: 4px 0 !important;
        background-color: white;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-color: #dc3545;
            height: 20px;
            border-radius: 10px;
        }
    }
}

.swiper-pagination.post-bottom {
    position: relative;
    padding: 15px;

    .swiper-pagination-bullet {
        margin: 0 4px;
        background-color: white;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-color: #dc3545;
            width: 20px;
            border-radius: 10px;
        }
    }
}

.home-block-post {
    position: absolute;
    bottom: 20px;
    left: 20px;

    .home-block-post-top {
        font-size: 14px;
        color: white;

        .post-category {
            background-color: #dc3545;
            border-radius: 20px;
            padding: 3px 8px 3px 20px;
            &:before {
                content: '';
                width: 8px;
                height: 8px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: 7px;
                left: 6px;
                animation: live-animation 1s infinite;
            }
        }

        .post-time {
            margin: 0 5px;
        }
    }

    .home-block-post-bottom {
        color: white;
        font-weight: 700;
        font-size: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 5px;
        a {
            color: white;
        }
        @media screen and (max-width: 500px) {
            font-size: 18px;
        }
    }

    &.swiper-bottom {
        bottom: 10px;
        left: 10px;

        .home-block-post-top {
            .post-time {
                font-size: 12px;
            }

            .post-day {
                font-size: 12px;
            }
        }

        .home-block-post-bottom {
            font-size: 15px;
        }
    }
}

.home-swiper,
.home-swiper-bottom {
    .swiper-slide {
        &:hover {
            img {
                filter: brightness(70%);
            }
        }
    }
}

.section-nhandinh {
    .col-12.col-md-6 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .block-section {
        @media screen and (max-width: 576px) {
            img {
                width: 100%;
            }
        }
    }
    .nhandinh-block-small {
        display: flex;
        justify-content: space-between;

        .block-small-left {
            flex: 0 40%;
            @media screen and (max-width: 576px) {
                flex: 0 35%;
                text-align: center;
            }
        }

        .block-small-right {
            flex: 0 60%;
            font-size: 14px;
            padding: 5px;
            font-weight: 300;
            @media screen and (max-width: 576px) {
                flex: 0 65%;
            }
            .block-small-text {
                font-size: 12px;
                font-weight: 400;
            }

            .block-small-date {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

.section-soikeo {
    font-size: 14px;

    .block-soikeo {
        border: 1px solid #dc3545;
        box-shadow: 0 4px 4px 0 gray;
        border-radius: 20px;
        overflow: hidden;

        .block-soikeo-bottom {
            border-top: 1px solid #dc3545;

            .soikeo-btn {
                padding: 5px;
                text-align: center;

                a {
                    color: #dc3545;
                    font-weight: 700;
                }
            }

            .datcuoc-btn {
                padding: 5px;
                text-align: center;
                background-color: #dc3545;

                a {
                    color: white;
                    font-weight: 700;
                }
            }
        }
    }
}
.section-nhandinh {
    margin-bottom: 20px;
}
.category-name {
    position: relative;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #0cbfbc, #fb354e);
    .category-title {
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .category-more {
        display: flex;
        align-items: center;

        a {
            color: white;
            background-color: #dc3545;
            padding: 1px 10px;
        }
    }
}

.nhandinh-soikeo-right {
    text-align: center;
    margin-bottom: 20px;
    background: #dc3545;
    padding: 5px 0;
    a {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }
}

.widget-posts-list-container {
    position: relative;

    &.timeline-widget ul {
        position: relative;
        padding-left: 15px;
        list-style: none;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background: #e6e6e6;
        }

        .widget-single-post-item {
            border-bottom: 0;
            padding: 6px 0;
            padding-bottom: 10px;

            &:first-child {
                padding-top: 0;
            }

            a {
                color: #333;
                text-decoration: none;
                transition: 0.15s;
                h3 {
                    font-weight: bold;
                }
                &:hover {
                    .date {
                        &:before {
                            background-color: #dc3545;
                            color: #ffffff;
                        }
                    }
                    h3 {
                        color: #dc3545;
                    }
                }

                &:after {
                    clear: both;
                    display: table;
                    content: '';
                }

                .tie-icon {
                    &:before {
                        font-family: 'tiefonticon' !important;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        display: inline-block;
                    }
                }

                .date {
                    font-size: 10px;
                    display: block;
                    position: relative;
                    color: #767676;
                    line-height: 12px;
                    margin-bottom: 5px;

                    &:before {
                        content: '';
                        width: 12px;
                        height: 12px;
                        background: #e6e6e6;
                        border: 3px solid rgba(255, 255, 255, 0.8);
                        position: absolute;
                        left: -20px;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        -webkit-transform: translateZ(0);
                        transform: translateZ(0);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        transition-duration: 0.3s;
                    }
                }

                h3 {
                    font-size: 14px;
                    line-height: 1.4;
                }
            }
        }
    }
}

.home-nhacai {
    border: 1px solid #dc3545;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .nhacai-logo {
        width: 60px;
        height: 35px;
        border-radius: 5px;
    }
    .blocks .block-nhacai {
        padding: 15px;
        padding-bottom: 0px;
        .rank-nhacai {
            position: relative;
            background-image: url('../images/rank.jpg');
            background-size: contain;
            height: 36px;
            background-repeat: no-repeat;
            width: 28px;
            .rank {
                position: absolute;
                top: 4px;
                left: 4px;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                width: 20px;
                height: 20px;
                border: 1px solid white;
                border-radius: 50%;
                text-align: center;
                line-height: 1.2;
            }
        }
        h4 {
            font-size: 16px;
            font-weight: 900;
            line-height: 0.8;
        }
        span {
            color: coral;
            i {
                font-size: 12px;
            }
        }
    }

    .head-nhacai {
        ul.nav {
            justify-content: center;
        }

        .btn {
            width: 110px;
            height: 30px;
            padding: 0;
            line-height: 1.4;
            font-size: 19px;
            font-weight: 700;
        }

        .btn-nhacai {
            background-color: white;
            color: #dc3545;
            border-radius: 15px;
            border-color: #dc3545;
            &.review-bottom {
                font-size: 13px;
                line-height: 2;
            }
        }

        .btn-gamebai {
            background-color: #dc3545;
            color: white;
            border-radius: 15px;
            border-color: #dc3545;
            &.bet-bottom {
                font-size: 13px;
                line-height: 2;
            }
        }
    }
}
.live-block {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    .live-today {
        bottom: 110%;
        left: 40px;
        position: absolute;
        & + div {
            line-height: 18px;
        }
    }
    .btn {
        font-size: 15px;
        font-weight: 700;
        border-radius: 20px;
        width: 120px;
    }
    .live-btn-cuoc {
        color: #dc3545;
        border: 1px solid #dc3545;
        &:hover {
            color: white;
            background-color: #dc3545;
        }
    }
    .live-btn-link {
        color: white;
        background-color: #dc3545;
        &:hover {
            color: #dc3545;
            border: 1px solid #dc3545;
            background-color: white;
        }
    }
}

.schedule-live {
    .schedule-live-title {
        h3 {
            color: #dc3545;
            font-size: 20px;
        }
    }
    .schedule-live-top {
        h5.schedule-live-top-title {
            color: white;
            position: relative;
            margin-bottom: 0;
            font-size: 14px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 10px;
            background-color: #dc3545;
            &.hot {
                padding-left: 80px;
                &:before {
                    background-repeat: no-repeat;
                    content: '';
                    background-image: url(../images/hot_gif.png);
                    position: absolute;
                    left: 8px;
                    top: 6px;
                    height: 20px;
                    width: 60px;
                    background-size: contain;
                }
            }
        }
        & + .live-block {
            border-radius: 0 0 10px 10px;
        }
    }
}

.highlight {
    .block-highlight {
        .block-highlight-play {
            display: block;
            position: relative;
            @media screen and (max-width: 575px) {
                img {
                    width: 100%;
                }
            }
            &:hover {
                .highlight-play {
                    border-color: #dc3545;
                    i {
                        color: #dc3545;
                    }
                }
            }
            .highlight-play {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid white;
                i {
                    font-size: 12px;
                }
            }
        }
        .block-highlight-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 1.25rem;
        }
    }
}

.competition {
    .competition-top {
        background-color: black;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
        h3.competition-top-title {
            color: #fcdb58;
            font-weight: bold;
            padding-left: 20px;
            font-size: 20px;
            margin-bottom: 0;
        }
        .competition-top-cate {
            background-color: #fcdb58;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-right: 10px;
            padding: 0px 5px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            @media screen and (max-width: 767px) {
                overflow-x: auto;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 0px;
                margin-bottom: 10px;
                padding: 2px 5px;
                white-space: nowrap;
                margin-right: 0;
                width: 100%;
            }
            span {
                color: black;
                font-weight: bold;
                font-size: 14px;
                padding: 0 10px;
                & + span {
                    border-left: 1px solid #297334;
                }
            }
        }
    }
    .competition-middle {
        overflow: auto;
        table {
            border: 1px solid #D8D8D8;
            width: 100%;
            text-align: center;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            tr {
                position: relative;
                &[aria-expanded="false"]{
                    td{
                        &:after {
                            content: '\f0d8';
                            font-family: 'Font Awesome 5 Pro';
                            font-weight: 900;
                            color: white;
                            font-style: initial;
                            position: absolute;
                            right: 24px;
                            font-size: 30px;
                            top: -8px;
                        }
                    }
                }
                &[aria-expanded="true"]{
                    td{
                        &:after {
                            content: '\f0d7';
                            font-family: 'Font Awesome 5 Pro';
                            font-weight: 900;
                            color: white;
                            font-style: initial;
                            position: absolute;
                            right: 24px;
                            font-size: 30px;
                            top: -8px;}
                    }
                }
                th {
                    border: 1px solid lightgrey;
                    background-color: #FF0000;
                    height: 50px;
                    color: white;
                    font-size: 14px;
                    white-space: nowrap;
                    padding: 0 5px;
                }
                td {
                    border: 1px solid lightgrey;
                    font-size: 12px;
                    &[colspan] {
                        background-color: #1768EF;
                        height: 30px;
                        color: white;
                        text-align: left;
                        padding-left: 15px;
                        font-weight: bold;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .competition-bottom {
        text-align: center;
        @media screen and (max-width: 991px){
            .row>div{
                margin-bottom: 15px;
                text-align: start;
                margin-left: 40px;
            }
        }
        span {
            font-size: 12px;
        }
        .competition-bottom-circle {
            position: relative;
            ~span {
                font-size: 16px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                top: -8px;
                left: -40px;
            }
            &.green {
                &:before {
                    background-color: #FF9900;
                }
            }
            &.orange {
                &:before {
                    background-color: #003399;
                }
            }
            &.success {
                &:before {
                    background-color: #4B9F00;
                }
            }
            &.bluered {
                &:before {
                    content: url("/public/images/arrow_right_arrow_left.png");
                }

            }
        }
        .competition-bottom-note{
            font-size: 16px;
        }
    }
}
.about-to-play {
    display: inline-block;
    margin: auto;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 10px;
    background: #5068f2;
    border-radius: 5px;
    max-width: 130px;
}
.live {
    display: inline-block;
    width: 70px;
    margin: auto;
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 3px 10px;
    background: #ffd1d1;
    border-radius: 5px;
    -webkit-animation: webkit-shadow-drop-center 1s infinite;
    animation: shadow-drop-center 1s infinite;
}
.dot {
    animation: live-animation 1s infinite;
    &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }
    &.red-dot {
        &:before {
            background-color: red;
        }
    }
    &.yellow-dot {
        &:before {
            background-color: #f2e74b;
        }
    }
    &.green-dot {
        &:before {
            background-color: #1cff32;
            height: 10px;
            width: 10px;
        }
    }
}

@-webkit-keyframes webkit-shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 15px 0 rgba(255, 0, 0, 1);
        box-shadow: 0 0 15px 0 rgba(255, 0, 0, 1);
    }
    25% {
        -webkit-box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.7);
        box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.7);
    }

    50% {
        -webkit-box-shadow: 0 0 7px 0 rgba(255, 0, 0, 0.5);
        box-shadow: 0 0 7px 0 rgba(255, 0, 0, 0.5);
    }

    75% {
        -webkit-box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.25);
        box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.25);
    }

    100% {
        -webkit-box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0);
    }
}
@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 15px 0 rgba(255, 0, 0, 1);
        box-shadow: 0 0 15px 0 rgba(255, 0, 0, 1);
    }
    25% {
        -webkit-box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.7);
        box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.7);
    }

    50% {
        -webkit-box-shadow: 0 0 7px 0 rgba(255, 0, 0, 0.5);
        box-shadow: 0 0 7px 0 rgba(255, 0, 0, 0.5);
    }

    75% {
        -webkit-box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.25);
        box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.25);
    }

    100% {
        -webkit-box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0);
    }
}
@keyframes live-animation {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}
.content-home {
    background-image: url(../images/bg-content.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 500px;
    overflow-y: auto;
    color: white;
    a {
        color: white;
        text-decoration: underline;
    }
}

.content-home,
.competition-middle {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
    }
}

.content-home,
.competition-middle {
    &::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f5;
    }
}

.content-home,
.competition-middle {
    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }
}

.meocuoc {
    li {
        display: flex;
        a {
            flex: 1;
        }
        h3 {
            flex: 2;
            padding-left: 8px;
            font-size: 14px !important;
            -webkit-line-clamp: 3 !important;
        }
    }
}
