.match-detail {
    padding-top: 40px;
    h4,
    h1,
    h2,
    h3 {
        color: #ff0000;
        border-left: 4px solid #1768ef;
        padding-left: 20px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
        &:not(:first-child) {
            margin-top: 40px;
        }
        @media screen and (max-width: 991px) {
            font-size: 26px;
        }
        @media screen and (max-width: 545px) {
            font-size: 20px;
        }
    }
    .match-count-down {
        .count-down-block {
            position: relative;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(#fff, #fff), linear-gradient(#f49a96, #e22525);
            border: 8px solid transparent;
            background-repeat: no-repeat;
            background-origin: padding-box, border-box;
            border-radius: 1rem;
            position: relative;

            @media screen and (max-width: 767px) {
                height: auto;
                flex-wrap: wrap;
                a {
                    img {
                        width: 120px;
                    }
                    &:first-child {
                        margin-right: 10px;
                    }
                }
                .league-info {
                    padding: 0;
                    order: 2;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: -5px;
                bottom: -5px;
                left: -5px;
                right: -5px;
                border: 6px solid #fff;
                border-radius: 0.8rem;
            }

            .match-img-left {
                position: absolute;
                top: -5px;
                left: -7px;
                bottom: 0;
                border-radius: 15px 0 0 0;
            }
            .match-img-right {
                position: absolute;
                top: 5px;
                right: -7px;
                bottom: 0;
                border-radius: 0 0 15px 0;
            }

            & > div {
                padding: 0 50px;
            }
            .league-info {
                .league-name {
                    color: #bbbbbb;
                    font-size: 20px;
                    font-weight: 700;
                }
                .league-time {
                    font-weight: 700;
                    opacity: 0.9;
                }
                .league-count-down {
                    display: flex;
                    justify-content: space-around;
                    margin: 10px 0;
                    span {
                        &:first-child {
                            font-weight: 700;
                            font-size: 20px;
                        }
                    }
                    div {
                        text-align: center;
                        border: 1px solid #979797;
                        box-sizing: border-box;
                        border-radius: 6px;
                        width: 50px;
                        height: 60px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                .league-referee {
                }
            }
        }
    }
    .match-info {
        &-block {
            border-radius: 20px;
            background-color: white;
            padding: 30px;
        }
    }
    .match-predict {
        &-block {
            border-radius: 20px;
            height: 300px;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media screen and (max-width: 767px) {
                flex-direction: column;
                height: auto;
                padding-top: 20px;
            }
            .color-success {
                span {
                    color: #18bd27;
                }
            }
            .color-info {
                span {
                    color: #1da3f8;
                }
            }
            .color-warning {
                span {
                    color: #fcaa0c;
                }
            }
            p {
                margin: 20px 0;
                text-align: center;
            }
        }
    }
    .match-h2h {
        &-block {
            padding: 30px;
            border-radius: 20px;
            background-color: white;
            display: flex;
            .table {
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                thead {
                    background-color: #ff0000;
                    th {
                        color: white;
                    }
                }
                td {
                    white-space: nowrap;
                    color: #666666;
                    font-size: 14px;
                    border-top: none;
                    &:nth-child(2),
                    &:nth-child(4) {
                        font-weight: 700;
                    }
                    &:nth-child(5) {
                        color: #ff0000;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .badge-danger {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background-color: #ff0000;
        display: inline-block;
        text-align: center;
        line-height: 19px;
        font-weight: 700;
    }
    .badge-secondary {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background-color: #d8d8d8;
        display: inline-block;
        text-align: center;
        line-height: 19px;
        font-weight: 700;
        color: #666666;
    }
    .match-recent {
        &-block {
            padding: 30px;
            border-radius: 20px;
            background-color: white;
            display: flex;
            .table {
                width: 100%;
                overflow: hidden;
                &:nth-child(1) {
                    border-radius: 10px 0 0 0;
                }
                &:nth-child(2) {
                    border-left: 1px solid #d8d8d8;
                    border-radius: 0 10px 0 0;
                    thead {
                        tr {
                            &:nth-child(1) {
                                background-color: #1768ef;
                            }
                        }
                    }
                }
                @media screen and (min-width: 991px) {
                    width: 50%;
                    float: left;
                }
                thead {
                    tr {
                        &:nth-child(1) {
                            background-color: #ff0000;
                            th {
                                color: white !important;
                                text-align: center !important;
                            }
                        }
                        &:nth-child(2) {
                            background-color: #ffecec;
                        }
                    }
                }

                th,
                td {
                    border: none;
                    color: #666666;
                    font-weight: 700;
                    white-space: nowrap;

                    &:nth-child(1) {
                        text-align: right;
                    }
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:nth-child(3) {
                        text-align: left;
                    }
                }
            }
        }
    }
}

/*circle process bar css */

$circle-size: 200px;
$background-color: #b3cef6;
$progress-color: #4b86db;
$percent: 75;
$duration: 2s;
.progress-bar {
    position: relative;
    height: $circle-size;
    width: $circle-size;
    background-color: transparent;
    div {
        position: absolute;
        height: $circle-size;
        width: $circle-size;
        border-radius: 50%;
        span {
            position: absolute;
            font-size: $circle-size / 4;
            line-height: $circle-size / 4 * 3;
            height: $circle-size / 4 * 3;
            width: $circle-size / 4 * 3;
            left: $circle-size / 8;
            top: $circle-size / 8;
            text-align: center;
            border-radius: 50%;
            background-color: white;
        }
    }

    .background {
        background-color: $background-color;
    }
    .rotate {
        clip: rect(0 ($circle-size / 2) $circle-size 0);
        background-color: $progress-color;
        // animation: rotate $duration linear;
        // transform: rotate(-100deg);
        // transition: all (2s * $percent / 100) linear;
    }
    .left {
        clip: rect(0 ($circle-size / 2) $circle-size 0);
        opacity: 1;
        // animation: toggle ($duration / 2)  step-start;
        background-color: $background-color;
    }
    .right {
        clip: rect(0 ($circle-size / 2) $circle-size 0);
        transform: rotate(180deg);
        opacity: 0;
        // animation: toggle ($duration / 2) step-end;
        background-color: $progress-color;
    }
}

// @keyframes rotate {
// 	0%		{ transform: rotate(( -1 * $percent * 3.6) deg); }
// }

@keyframes toggle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*End circle process bar css */
