@import './_responsive-mixin.scss';
@import './_rateit.scss';
/* included at custom.scss Line~700 */
main {
    padding-top: 40px;
    background: #e5e5e5;
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    @include screen(mobile) {
        padding-top: 48px !important;
    }
    @media screen and (min-width: 991px) {
        background-image: url('./imgicon/bgmain.png');
    }
}

.category-item {
    background-color: white;
    margin-bottom: 20px;

    .time-wrap {
        display: flex;
        align-items: center;
    }

    .category-title {
        position: relative;
        margin: 6px 0;
        background: red;
        padding: 2px 10px;
        padding-left: 22px;
        color: white;
        font-size: 12px;
        border-radius: 50vmin;
        display: inline-block;
        margin-left: 4px;

        &::before {
            animation: live-animation 1s infinite;
            content: '';
            background-color: white;
            position: absolute;
            width: 6px;
            height: 6px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            @include screen(mobile) {
                left: 6px;
                bottom: 4px;
                padding: 1px 6px;
                padding-left: 22px;
                font-size: 10px;
            }
        }
    }
    .time-wrap {
        .category-title {
            @include screen(mobile) {
                &::before {
                    padding: 0 !important;
                }
            }
        }
    }
    h3 {
        @include truncate(1);
    }

    .text-wrap {
        padding: 18px;
        min-height: 136.48px;
    }
}

.wrap-category {
    position: relative;
    padding-top: 30px;

    &::before {
        position: absolute;
        content: '';
        width: calc(100% - 30px);
        height: 3px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
    }
}

.breadcrumb {
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
        font-size: 16px;
    }

    .breadcrumb-item:first-child {
        position: relative;
        padding-left: 28px;

        &::before {
            font-family: 'Font Awesome 5 Pro';
            content: '\f015';
            color: red;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

$secondary: #2700ff;

$primary: #c91b1f;

.main-title {
    position: relative;

    &::before {
        content: '\f101';
        font-family: 'Font Awesome 5 Pro';
        left: -10px;
        padding-right: 4px;
        font-weight: 500;
        font-size: 24px;
        opacity: 0.5;
    }

    &::after {
        opacity: 0.5;
        font-size: 24px;
        padding-left: 4px;
        content: '\f100';
        font-family: 'Font Awesome 5 Pro';
        font-weight: 500;
        right: -10px;
    }
}

.normal-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.mt-70 {
    margin-top: 70px;
    @media screen and (max-width: 991px) {
        margin-top: 45px;
    }
}

.section-header {
    border-radius: 20px 0 0 0;
    margin-bottom: 0 !important;
    margin-left: 20px;
    font-size: 26px;
    color: white;
    position: absolute;
    bottom: 100%;
    background: url(./imgicon/section-title.png) no-repeat left,
        linear-gradient(
            180deg,
            rgba(255, 194, 194, 0.0001) 0%,
            rgba(193, 0, 0, 0.5) 89.39%,
            rgba(255, 56, 56, 0.5) 100%
        ),
        linear-gradient(136.28deg, #e92d34 7.73%, #c52025 95.51%);
    display: inline-block;
    padding: 10px 20px;
    @include screen(mobile) {
        padding: 4px 12px;
        .section-header,
        .category-title {
            font-size: 15px;
        }
    }
    @include screen(sm-mobile) {
        max-width: 200px;
    }

    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100px;
        background: linear-gradient(
                180deg,
                rgba(255, 194, 194, 0.0001) 0%,
                rgba(193, 0, 0, 0.5) 89.39%,
                rgba(255, 56, 56, 0.5) 100%
            ),
            #c52025;
        top: 0;
        right: -40px;
        transform: skewX(55deg);
        z-index: -1;
        border-right: 8px solid #347fff;
        box-shadow: 32px 0px 0 0px #9fb9e7;
    }
}

.section-body {
    background: white;
    border-radius: 20px;
    padding: 20px 30px;
    overflow: hidden;
    @include screen(mobile) {
        padding: 15px;
    }
    @media screen and (max-width: 545px) {
        padding: 5px;
    }

    .section-item a {
        display: block;
        position: relative;
    }
    .ft-news {
        & > .section-item {
            img {
                border-radius: 20px 20px 0 0;
            }
        }
    }

    .highlight {
        position: absolute;
        background: red;
        padding: 2px 10px;
        padding-left: 22px;
        color: white;
        font-size: 12px;
        border-radius: 50vmin;
        left: 16px;
        bottom: 10px;
        @include screen(mobile) {
            left: 6px;
            bottom: 4px;
            padding: 1px 6px;
            padding-left: 22px;
            font-size: 10px;
        }

        &::before {
            animation: live-animation 1s infinite;
            content: '';
            background-color: white;
            position: absolute;
            width: 6px;
            height: 6px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }

    .title-big {
        font-size: 26px;
        font-weight: 700;
    }

    .title-small {
        font-size: 18px;
        font-weight: 600;
    }
}

section.section {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.post-soikeo {
    margin-bottom: 0;

    & + & {
        margin-top: 10px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

.widget-button {
    margin: 0;

    li {
        margin: 8px 0;

        &:hover,
        &.active {
            .widget-button-item {
                color: red;
                background: linear-gradient(180deg, #ffffff 0%, #fff5f5 70.71%, #ffffff 98.74%);
            }
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 70px;
            transform: translateY(-50%);
            line-height: 0px;
            width: 40px;
            height: 40px;
            background-size: contain;
            content: '';
        }

        &.cup-dtqg {
            &:before {
                background-image: url('../images/tournament/logo-dtqg.png');
            }
        }

        &.cup-c1 {
            &:before {
                background-image: url('../images/tournament/c1.png');
            }
        }

        &.cup-laliga {
            &:before {
                background-image: url('../images/tournament/laliga.png');
            }
        }

        &.cup-ligue1 {
            &:before {
                background-image: url('../images/tournament/ligue1.png');
            }
        }

        &.cup-seria {
            &:before {
                background-image: url('../images/tournament/seria.png');
            }
        }

        &.cup-c2 {
            &:before {
                background-image: url('../images/tournament/logo-c2.png');
            }
        }

        &.cup-chauau {
            &:before {
                background-image: url('../images/tournament/logo-chauau.png');
            }
        }

        &.cup-duc {
            &:before {
                background-image: url('../images/tournament/logo-duc.png');
            }
        }

        &.cup-ngoaihanganh {
            &:before {
                background-image: url('../images/tournament/logo-ngoaihanganh.jpg');
            }
        }

        &.cup-phap {
            &:before {
                background-image: url('../images/tournament/logo-phap.png');
            }
        }

        &.cup-taybannha {
            &:before {
                background-image: url('../images/tournament/logo-taybannha.png');
            }
        }

        &.cup-y {
            &:before {
                background-image: url('../images/tournament/logo-y.png');
            }
        }
    }

    .widget-button-item {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        color: #6b6b6b;
        padding: 14px 30px;
        background: linear-gradient(180deg, #ffffff 0%, #efefef 70.71%, #ffffff 98.74%);
        border-radius: 10px;
        padding-left: 120px;
        @include screen(mobile) {
            font-size: 16px;
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

.category-name-sub {
    background: none;
    text-align: center;
    margin-bottom: 0;
    padding: 0;

    span {
        border-radius: 20px 20px 0 0;
        margin-bottom: 0 !important;
        margin-left: 20px;
        font-size: 26px;
        color: white;
        background: url(./imgicon/section-title.png) no-repeat left,
            linear-gradient(
                180deg,
                rgba(255, 194, 194, 0.0001) 0%,
                rgba(193, 0, 0, 0.5) 89.39%,
                rgba(255, 56, 56, 0.5) 100%
            ),
            linear-gradient(136.28deg, #e92d34 7.73%, #c52025 95.51%);
        display: inline-block;
        padding: 10px 20px;
        border-right: 8px solid #347fff;
        border-top: 8px solid #347fff;
        border-left: 8px solid #347fff;
        box-shadow: 0px -4px 0 4px #9fb9e7;
        @include screen(mobile) {
            padding: 4px 12px;
            font-size: 16px;
        }
    }
}

.home-block-post .home-block-post-top .post-category {
    position: absolute;
    background: red;
    padding: 2px 10px;
    padding-left: 22px;
    color: white;
    font-size: 12px;
    border-radius: 50vmin;
    left: 0px;
    bottom: 54px;

    &::before {
        content: '';
        background-color: white;
        position: absolute;
        width: 6px;
        height: 6px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
}

.block-section {
    border-radius: 10px;
    overflow: hidden;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), rgba(255, 0, 0, 0));
        left: 0;
    }

    & + & {
        margin-top: 10px;
    }
}

.nhandinh-sort {
    margin-top: 20px;

    .carousel-indicators {
        bottom: -10px;

        li {
            width: 6px;
            height: 6px;
            background-color: gray;
            border-radius: 50%;

            &.active {
                background-color: $primary;
            }
        }
    }
}

.nhandinh-sort-item {
    padding: 14px;
    border-radius: 20px;
    background-color: white;

    a {
        display: flex;
        flex-direction: column;
        text-align: center;

        .author {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }

        span {
            font-size: 12px;
            font-weight: 300;
            line-height: 14px;
            margin-top: 4px;
        }

        .title {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: $primary;
            padding-bottom: 8px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 80%;
                height: 2px;
                background: $primary;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.nhandinh-block-small {
    flex-direction: column;
}

.section-nhandinh {
    background-color: #f2f2f2;
    padding: 60px;
    @include screen(mobile) {
        padding: 10px;
    }

    .block-small-text {
        font-size: 14px !important;
    }

    .highlight {
        position: relative;
        margin: 6px 0;
        background: red;
        padding: 2px 10px;
        padding-left: 22px;
        color: white;
        font-size: 12px;
        border-radius: 50vmin;
        display: inline-block;

        &::before {
            animation: live-animation 1s infinite;
            content: '';
            background-color: white;
            position: absolute;
            width: 6px;
            height: 6px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }

    .flex-nowrap {
        overflow-x: scroll;

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #ff2d30;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }

        &::-webkit-scrollbar {
            height: 20px;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: white;
        }
    }
}

.post-soikeo {
    background: #f2f3f4;
    padding: 3px;
    @media screen and (max-width: 545px) {
        border-radius: 17px;
    }
    .header {
        flex-direction: column;
        align-items: center;
        padding-top: 8px;
        margin-bottom: 8px;
    }

    .body {
        .data-bet {
            flex-basis: 60%;
            max-width: 60%;
            width: 60%;

            p {
                display: flex;
                flex-direction: column;
                span,
                b {
                    white-space: nowrap;
                }
                .rate {
                    border: 1px solid rgb(191, 189, 189);
                    padding: 2px 6px;
                    font-weight: 700;
                }
            }
        }

        .data-meta {
            flex-basis: 100%;
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            .btn {
                margin: 8px;
                min-width: 100px;
                height: 32px;
                padding: 0 20px;
                border-radius: 5px;
                border: none;
                color: white;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 545px) {
                    margin: 5px;
                    min-width: 50px;
                    padding: 0 10px;
                    width: 44%;
                }
                &.btn-sk {
                    background: linear-gradient(315.16deg, #0043af -1.25%, #176dff 98.47%);
                }

                &.btn-bet {
                    background: linear-gradient(136.28deg, #e92d34 7.73%, #c52025 95.51%);
                }

                &.btn-info {
                    background: linear-gradient(128.46deg, #fdd808 3.98%, #f5930b 96.32%);
                    font-weight: 500;
                }

                &.btn-live {
                    background: linear-gradient(128.46deg, #2ede31 3.98%, #179b00 96.32%);
                    font-weight: 500;
                }
            }
        }
    }
}

.title-separate {
    border-left: 5px solid #1768ef;
    padding-left: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: $primary;
    text-transform: uppercase;
}

.block-tips {
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    img {
        width: 100%;
    }

    .main-title {
        color: $primary;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        margin-top: 12px;
    }

    .main-description {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: black;
    }

    .tip-item {
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        padding: 8px 0;
        border-top: 1px dashed gray;
    }
}

.nhacai-container {
    padding-top: 40px;
}

.home-match-item-nhacai {
    .logos-group {
        display: flex;
    }
    .logo-broker {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
            padding-top: 5px;
        }
    }
    .border-white {
        &-right {
            border-right: 3px solid white;

            &-lg {
                @media screen and (min-width: 767px) {
                    border-right: 3px solid white;
                }
            }
        }

        &-bottom {
            border-bottom: 3px solid white;
            overflow: hidden;
            border-radius: 10px;
            &-lg {
                @media screen and (min-width: 767px) {
                    border-right: 3px solid white;
                }
            }
        }

        &-top {
            border-bottom: 3px solid white;

            &-lg {
                @media screen and (min-width: 767px) {
                    border-top: 3px solid white;
                }
            }
        }
    }

    position: relative;
    border-radius: 10px;
    border: 3px solid #176dff;
    .rank {
        background-color: #176dff;

        &::before {
            border-color: transparent #176dff transparent #176dff;
        }
    }
    &:nth-child(1) {
        border: 3px solid $primary;

        .rank {
            background-color: $primary;

            &::before {
                border-color: transparent $primary transparent $primary;
            }
        }
    }

    &:nth-child(2) {
        border: 3px solid #ffb339;

        .rank {
            background-color: #ffb339;

            &::before {
                border-color: transparent #ffb339 transparent #ffb339;
            }
        }
    }

    &:nth-child(3) {
        border: 3px solid #2ad4a8;

        .rank {
            background-color: #2ad4a8;

            &::before {
                border-color: transparent #2ad4a8 transparent #2ad4a8;
            }
        }
    }

    .rank {
        font-size: 40px;
        font-weight: 700;
        margin-left: 10px;
        position: absolute;
        width: 40px;
        height: 60px;
        background-color: #2700ff;
        top: -1px;
        left: 0;
        text-align: center;
        color: white;
        @media screen and (max-width: 350px) {
            font-size: 25px;
            width: 25px;
            height: 40px;
        }

        &::before {
            position: absolute;
            content: '';
            border-width: 20px;
            border-color: transparent #2700ff transparent #2700ff;
            border-style: solid;
            left: 0;
            top: 40px;
            @media screen and (max-width: 350px) {
                border-width: 12.5px;
                top: 28px;
            }
        }
    }

    & > .title {
        @include screen(sm-mobile) {
            font-size: 14px;
            padding: 4px 10px;
            display: none;
        }
        background-color: $primary;
        border-radius: 10px 10px 0 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        padding: 4px 40px;
        color: white;
        position: absolute;
        margin-bottom: 0;
        bottom: 100%;
        left: 48px;
    }

    & + & {
        margin-top: 40px;
    }

    background: #f2f3f4;

    .header {
        & > .col-6 {
            @media screen and (max-width: 991px) {
                &:nth-child(2n + 1) {
                    border-right: 3px solid #ffffff;
                }
            }
        }

        .feature {
            p {
                margin-left: 15px;
                margin-bottom: 5px;
            }

            i {
                color: #4caf50;
                margin: 0 4px;
            }
        }

        .bonus {
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            padding-top: 10px;
        }

        .prize {
            font-size: 18px;
            font-weight: 700;
        }

        .btns {
            display: flex;
            justify-content: space-around;
            border-top: 3px solid #ffffff;

            p {
                margin-top: 1rem;
            }

            @include screen(sm-mobile) {
                align-items: center;
                padding-top: 10px;
                //flex-direction: column;
            }
        }

        .btn-bet,
        .btn-view {
            padding: 8px 14px;
            border-radius: 10px;
            display: inline-block;
            background-color: white;
            font-size: 18px;
            @media screen and (max-width: 1200px) {
                font-size: 14px;
                padding: 8px 10px;
            }
            @media screen and (max-width: 767px) {
                font-size: 18px;
            }
            @media screen and (max-width: 545px) {
                padding: 8px 25px;
            }
        }

        .btn-view {
            color: white;
            background: linear-gradient(315.16deg, #0043af -1.25%, #176dff 98.47%);
        }

        .btn-bet {
            background-color: white;
            color: $secondary;
            background-image: none;
            border: 1px solid $secondary;
        }

        .mark-wrap {
            display: flex;
            justify-content: space-around;
            align-items: center;

            p {
                margin-bottom: 0;
            }
        }

        .vote {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 10px;
        }

        .payment {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px 0;
            @media screen and (min-width: 991px) {
                border-right: 3px solid #ffffff;
                .title {
                    margin-bottom: 0;
                }
            }
        }

        .title {
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-transform: uppercase;
        }

        .stars {
            color: #176dff;
            font-size: 16px;
        }

        .mark {
            color: $primary;
            font-size: 28px;
            font-weight: 700;
            padding: 0;
            background: transparent;
        }

        .logo {
            display: block;
            margin-right: 8px;
            width: 30px;
            height: 30px;
        }

        .momo {
            background: url(imgicon/momo.png);
        }

        .viettel {
            background: url(imgicon/viettel.png);
        }

        .go {
            background: url(imgicon/go.png);
        }

        .bank {
            background: url(imgicon/bank.png);
        }

        .zalo {
            background: url(imgicon/zalopay.png);
        }
    }
}

.content-home {
    background-image: none;
    max-height: unset;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-top: 40px;
    padding-bottom: 50px;

    .wrap {
        padding: 20px;
        border: 4px solid $primary;
        border-radius: 20px;

        @include screen(sm-mobile) {
            padding: 10px;
        }
        /* Handle */
        .scroll {
            max-height: 400px;
            overflow: auto;
            padding-right: 10px;

            &::-webkit-scrollbar-thumb {
                background: #ff8589;
                border-radius: 50vmin;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $primary;
            }

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track-piece {
                background-color: rgb(172, 172, 172);
            }
        }
    }

    a {
        color: $primary;
    }
}

.nav-sidebar {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    margin-bottom: 20px;

    ul {
        margin: 0;
    }

    li {
        a {
            font-size: 14px;
            font-weight: 700;
            line-height: 40px;
            padding: 2px 30px;
        }

        align-items: center;
        display: flex;
        cursor: pointer;

        & + li {
            border-top: 1px solid rgb(220, 220, 220);
        }

        .icon {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            background-position: center center;
            margin-left: 20px;
            margin-right: 15px;
        }

        &:hover,
        &.active {
            background-color: $primary;

            a {
                color: white;
            }
        }
    }
}

.btnLoadMore {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    min-width: 180px;
    background: linear-gradient(315.16deg, #0043af -1.25%, #176dff 98.47%);
    padding: 12px 0;
    color: white;
}

.post-content {
    background: white;
    padding: 10px 20px !important;
    border-radius: 20px;
    margin-bottom: 30px;

    .table-of-contents {
        background: white;
        border: 1px solid rgb(206, 206, 206);
        padding: 14px 28px !important;
        border-radius: 10px;

        .head-catalog {
            font-size: 20px !important;
            font-weight: 700 !important;
            margin-bottom: 8px;

            &::before {
                content: '\f249';
                font-family: 'Font Awesome 5 Pro';
                color: $primary;
                margin-right: 4px;
                font-weight: 500;
                font-size: 28px;
            }
        }

        .catalog {
            li {
                font-size: 16px !important;
            }

            li + li {
                margin-top: 3px;
            }
        }
    }

    .banner {
        margin-top: 8px;
        text-align: center;

        img {
            max-width: 728px;
            width: 100%;
            height: auto;
        }
    }

    .list-link {
        margin-bottom: 8px;

        a {
            display: inline-block;
            font-size: 16px;
            font-style: italic;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            color: $primary;

            &.vip {
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    background: url(./imgicon/vip-title.png) no-repeat center center;
                    width: 28px;
                    height: 20px;
                    left: 100%;
                    top: -5px;
                }
            }
        }
    }

    .list-tag {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        border-bottom: 1px solid #dee2e6 !important;

        .tag-title {
            background: rgb(193, 193, 193);
        }

        * {
            font-size: 20px;
            font-weight: 400;
            padding: 6px 12px;
            margin-top: 4px;
            @include screen(sm-mobile) {
                padding: 4px 8px;
                font-size: 14px;
            }
        }

        a {
            border: 1px solid $primary;
            color: $primary;
            margin-left: 4px;
        }
    }

    .btns {
        display: flex;
        padding: 30px 0;
        border-bottom: 1px solid #dee2e6 !important;
        justify-content: space-between;
        align-items: center;

        a {
            padding: 12px 32px;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            @include screen(sm-mobile) {
                padding: 6px 16px;
                font-size: 14px;
            }

            &.next {
                background: $primary;
                color: white;
            }

            &.prev {
                background: $primary;
                background-color: transparent;
                font-weight: 700;
                border: 1px solid rgb(234, 234, 234);
            }
        }
    }
}

.block-keo {
    .rate-wrap {
        p {
            font-size: 16px;
            font-weight: 900;
            line-height: 40px;
            padding: 6px 0;
            margin: 1px 0;
            @include screen(sm-mobile) {
                flex-direction: column;
                font-size: 14px;
                padding: 2px 0;
                line-height: 30px;
            }

            :first-child {
                background-color: $primary;
                color: white;
                flex-basis: 40%;
            }

            :nth-child(2) {
                flex-basis: 60%;
                color: $primary;
                border: 1px solid rgb(199, 199, 199);
            }
        }
    }
}

.swiper-slide.swiper-slide-active {
    font-weight: unset;
}

.table-result-bongda {
    .swiper-slide-active {
        a {
            color: $primary;
            border: 1px solid $primary !important;
        }
    }
    .nav-table {
        li {
            a {
                font-size: 18px;
                line-height: 16px;
                padding: 6px 40px;
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                border: 1px solid #979797;
                border-radius: 4px;
            }
            border-radius: 4px;
            &.active,
            &:hover {
                a {
                    color: $primary;
                    border-color: $primary;
                }
            }
        }
    }

    .table-heading {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        background-color: red;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: white;
    }

    .team {
        font-size: 14px;
        line-height: 16px;

        .logo {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }

    table {
        tr {
            //td:first-child {
            //  width: 40%;
            //  vertical-align: revert;
            //}
            //
            //td:nth-child(2) {
            //  width: 20%;
            //}
            //
            //td:nth-child(3) {
            //  vertical-align: revert;
            //  width: 40%;
            //}

            td {
                @include screen(sm-mobile) {
                    text-align: center !important;
                    padding-right: 4px !important;
                    padding-left: 4px !important;
                }
            }
        }
    }

    .score {
        font-size: 14px;
        line-height: 16px;
        padding: 2px 15px;
        background-color: rgb(196, 196, 196);
        border-radius: 15px;
        font-weight: 500;
    }

    .des {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.table-collapse {
    .table {
        tbody {
            display: none;
        }

        td,
        td {
            border: 1px solid rgb(213, 213, 213);
        }

        margin-bottom: 0;
        font-size: 14px;
        width: 100%;
        text-align: center;

        &.table-header {
            border-radius: 10px 10px 0 0;
            overflow: hidden;

            .main-heading {
                td {
                    padding: 14px 0 !important;
                    vertical-align: inherit;
                    font-weight: 700;
                    font-size: 16px;
                }

                background: red;
                color: white;
            }

            tr {
                td:nth-child(1) {
                    width: 15%;
                }

                td:nth-child(2) {
                    width: 8%;
                }

                td:nth-child(3) {
                    width: 20%;
                }

                td:nth-child(4) {
                    width: 12%;
                }

                td:nth-child(5) {
                    width: 20%;
                }

                td:nth-child(6) {
                    width: 12%;
                }

                td:nth-child(7) {
                    width: 18%;
                }
            }
        }

        &.table-value {
            tbody {
                tr {
                    td:nth-child(1) {
                        width: 15%;
                    }

                    td:nth-child(2) {
                        width: 8%;
                    }

                    td:nth-child(3) {
                        width: 20%;
                    }

                    td:nth-child(4) {
                        width: 12%;
                    }

                    td:nth-child(5) {
                        width: 20%;
                    }

                    td:nth-child(6) {
                        width: 12%;
                    }
                }
            }
        }

        &.table-empty,
        &.table-value {
            tr td {
                padding: 5px;
            }

            tbody {
                tr {
                    td:first-child {
                        color: white;
                        background: black;
                    }
                }
            }
        }

        &.table-empty {
            tbody {
                td {
                    background: white !important;
                    color: black !important;
                }
            }
        }

        .sub-heading {
            background-color: $secondary;
            font-style: italic;
            color: white;
            text-align: left;
            cursor: pointer;

            tr {
                td {
                    padding-left: 16px;
                    padding-right: 16px;
                    position: relative;

                    &::after {
                        // f0d7
                        content: '\f0d8';
                        font-family: 'Font Awesome 5 Pro';
                        font-weight: 900;
                        color: white;
                        font-style: initial;
                        position: absolute;
                        right: 24px;
                        font-size: 30px;
                        top: -8px;
                    }
                }
            }
        }
    }
}

.table-collapse {
    .table {
        &.active {
            tbody {
                display: table-row-group;
            }

            .sub-heading {
                tr {
                    td {
                        &::after {
                            content: '\f0d7';
                        }
                    }
                }
            }
        }
    }
}

.table-bxh {
    text-align: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    border: 2px solid rgb(208, 208, 208);

    //tr {
    //  td {
    //    width: 10% !important;
    //  }
    //
    //  .team {
    //    width: 40% !important;
    //  }
    //}

    thead {
        tr {
            td {
                padding: 14px 0;
                background-color: red;
                color: white;
                font-weight: 700;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 6px 0;
            }
        }
    }
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

.slides-swpiper {
    background: #f3f3f3;
    position: relative;
    display: flex;
    color: #000;
    .bxh-prev,
    .bxh-next {
        cursor: pointer;
        text-align: center;
        align-items: center;
        display: flex;
        padding: 14px;
        background: #fff;
        color: #000 !important;
        border: 2px solid #c7c7c7;
        border-radius: 4px;
    }
}

.tab_static {
    overflow: auto;
    .nav-tabs {
        li {
            width: 25%;

            a {
                text-align: center;
                font-size: 20px;
                border-radius: 0;
                background: $primary;
                color: white;
                border: 1px solid $primary;
                &.active,
                &:hover {
                    background: white;
                    color: $primary;
                    border: 1px solid $primary;
                }
            }
            @media screen and (max-width: 991px) {
                width: 50%;
            }
            @media screen and (max-width: 1200px) {
                a {
                    font-size: 15px;
                }
            }
        }
    }
}
.tab_static_content {
    .tab-pane {
        width: 980px;
    }
    overflow: auto;
    td,
    th {
        border: 1px solid #dbdbdb;
        table {
            td,
            th {
                border: none;
            }
        }
    }
}
.match-recent-block,
.match-h2h-block {
    overflow: auto;
    table {
        td,
        th {
            border: 1px solid #bdbdbd;
        }
        table {
            td,
            th {
                border: none;
            }
        }
    }
}
