/* sm-mobile: <= 479px  */
$sm-mobile: 29.9375em;
/* sm-mobile: <= 739px  */
$mobile: 991px;
/*tablet: <= 1023px và >= 740px */
$tablet-max: 63.9375em;
$tablet-min: 46.25em;
/*pc: >= 1024px */
$pc: 64em;

@mixin screen($break-point) {
    @if $break-point == sm-mobile {
        @media only screen and (max-width: $sm-mobile) {
            @content;
        }
    }

    @if $break-point == mobile {
        @media only screen and (max-width: $mobile) {
            @content;
        }
    }

    @if $break-point == tablet {
        @media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
            @content;
        }
    }
    /* Mobile & tablet <= 1023px */
    @if $break-point == mobile-tablet {
        @media only screen and (max-width: $tablet-max) {
            @content;
        }
    }
    /* pc: >= 1024px */
    @if $break-point == pc {
        @media only screen and (min-width: $pc) {
            @content;
        }
    }
}

@mixin truncate($row) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
}
