@import 'header';
@import 'footer';
@import 'home';
// @import 'rateit';
@import 'match';

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1400px;
    }
}

body {
    font-size: 17px;
    @media screen and (max-width: 991px) {
        font-size: 14px;
    }
}
.bg-light {
    padding-top: 35px;
}
.bg-main {
    background-color: #dc3545;
}
.font-14 {
    font-size: 18px;
    @media screen and (max-width: 991px) {
        font-size: 14px;
    }
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}
.font-23 {
    font-size: 23px;
}
.font-30 {
    font-size: 30px;
    @media screen and (max-width: 991px) {
        font-size: 25px;
    }
}
.bg-menu {
    background-color: #333333;
}
.post-title {
    font-size: 23px;
}
.max-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.max-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.menu-bxh {
    &.nav-tabs {
        .nav-link {
            background-color: #73aa9c;
            &.active {
                background-color: #dc3545;
            }
        }
    }
}
.title-bg-danger {
    background-color: #dc3545;
    color: var(--white);
    min-height: 40px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.title-mix {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #dee2e6;
    }
    &:after {
        content: '';
        position: absolute;
        width: 60px;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #dc3545;
    }
}
.breadcrumb-item + .breadcrumb-item:before {
    content: url('../images/icon/Vector.svg');
    margin-top: 2px;
}
.bg-gray {
    background-color: #f7f8fa;
}
.table-of-contents {
    background: #f3f9f7;
    ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 1rem;
    }
}
.cate-absolute {
    background-color: #dc3545;
    padding: 3px 8px 3px 20px;
    margin: 10px;
}
.bg-light {
    background-color: #e5e5e5 !important;
}
.swiper-slide {
    cursor: pointer;
}
.swiper-slide {
    &.swiper-slide-active {
        font-weight: 900;
    }
}
.swiper-button-next,
.swiper-button-prev {
    position: unset;
    margin-top: unset;
    min-width: 30px;
    height: 30px;
    &:after {
        font-size: 1rem;
        color: #73aa9c;
    }
}
.toc-h3 {
    margin-left: 1rem;
}
.toc-h4 {
    margin-left: 1.3rem;
}
.game-vote {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #73aa9c;
    color: white;
    text-align: left;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 50%);
    .game-vote-info {
        .game-vote-info-advantages {
            font-family: 'Muli BoldItalic', sans-serif;
        }
        .danhgia {
            display: none;
        }
        .post-title {
            font-size: 20px;
        }
    }
    .icon {
        max-width: 180px;
        margin-right: 15px;
        align-self: center;
        align-items: center;
    }
    .rateit {
        .rateit-hover,
        .rateit-selected {
            color: yellow;
        }
    }
    .uk-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .table-2 tbody tr {
        &:last-child {
            color: yellow;
            border-top: 1px solid #fffc00;
            .txt {
                padding-top: 10px;
                color: yellow;
            }
        }
        td .txt {
            font-family: 'Muli BoldItalic', sans-serif;
            color: #fff;
        }
    }
    .fa {
        margin-right: 5px;
    }
}
.rate-2 {
    font-size: 14px;
    i {
        color: yellow;
    }
}
.post-content,
.content-news {
    h2 {
        font-size: 21px;
    }
    h3 {
        font-size: 18px;
    }
    h2,
    h3 {
        border-left: 5px solid #dc3545;
        padding-left: 0.5rem;
    }
    p {
        font-size: 17px;
    }
    img {
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    @media screen and (max-width: 545px) {
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
}
.page-link {
    color: #dc3545;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.sticky-banner-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.BannerStickyLeft {
    position: absolute;
    top: 0;
    left: -130px;
    z-index: 9999;
    &_content {
        &.is_stuck {
            margin-top: 50px;
        }
    }
}
.BannerStickyRight {
    position: absolute;
    top: 0;
    right: -130px;
    z-index: 9999;
    &_content {
        &.is_stuck {
            margin-top: 50px;
        }
    }
}
.BannerStickyRight_content,
BannerStickyLeft_content {
    &.is_stuck {
        margin-top: 50px;
    }
}
.title-home {
    font-size: 23px;
    text-transform: uppercase;
    color: #0987f8;
    @media screen and (max-width: 991px) {
        font-size: 20px;
    }
    @media screen and (max-width: 545px) {
        font-size: 18px;
    }
}
.footer-top {
    padding: 50px 0 20px 0;
    font-weight: 500;
    background-color: #333333;
    .logo-footer,
    .desc-footer {
        margin-bottom: 0.5rem;
    }

    .data_seo {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .widget-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1rem;
        color: #ff0000;
        a {
            color: #ff0000 !important;
        }
    }

    .nav-menu-footer {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;
            margin: 5px 0;
        }

        h5 {
            margin-bottom: 0;
        }

        a {
            color: white;
            font-size: 14px;
            padding: 5px 0;
        }
    }
}
.post-most__viewed_style_1 {
    list-style: none;
    padding-left: 0;
    h4 {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
    }

    a {
        font-weight: 500;
        color: #000;
    }

    span {
        color: #ccc;
        font-size: 12px;
    }
}
@media screen and (max-width: 575px) {
    .widget {
        &.widget-footer,
        &.widget-post__most__viewed {
            display: none;
        }
    }
}

.content-news {
    text-align: justify;
    p {
        img {
            max-width: 100%;
            height: auto !important;
            margin: 0 auto;
            display: block;
        }
    }
}
.post-content-detail {
    overflow: auto;
    text-align: justify;
    img {
        max-width: 100%;
        height: auto !important;
        margin: 0 auto;
        display: block;
    }
}
#messages {
    border-top: 2px solid gray;
}

/*block soi keo*/

.btn-sk,
.btn-bet {
    padding: 7px 10px;
    font-weight: 500;
    display: inline;
    text-align: center;
    border-radius: 30px;
}

.btn-bet {
    color: #fff;
    background-image: linear-gradient(to right, #0385f1 0%, #41b8ba 100%);
}

.btn-sk {
    color: #007bff;
    border: 2px solid #007bff;
}
.post-soikeo {
    background-image: linear-gradient(to left, #cbfffe, #ffc2ca);
    //border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: block;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .data-bet {
            font-weight: 600;
            text-align: center;
            flex-basis: 45%;
            max-width: 45%;
            width: 45%;

            p {
                margin-bottom: 0;
            }
        }

        .team-home,
        .team-away {
            flex-basis: 20%;
            width: 20%;
            max-width: 20%;

            .name {
                font-weight: 600;
                text-align: center;
                font-size: 14px;
            }

            .logo {
                width: 64px;
                height: 64px;
                padding: 11px;
                border-radius: 100%;
                border: 2px solid #ccc;
                margin: 0 auto 7px auto;

                a {
                    display: block;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .post-soikeo {
        .body {
            .team-home,
            .team-away {
                flex-basis: 20%;
                width: 20%;
                max-width: 20%;

                .logo {
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                }
            }

            .team-home {
                order: 1;
            }

            .team-away {
                order: 3;
            }

            .data-bet {
                order: 2;
                flex-basis: 100%;
                width: 100%;
                max-width: 100%;
                text-align: center;
                padding: 1rem 0;
            }

            .data-meta {
                order: 4;
                flex-basis: 100%;
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
@media screen and (max-width: 545px) {
    .post-soikeo {
        .body {
            .team-home,
            .team-away {
                .logo {
                    border: none;
                    width: 40px;
                    height: 40px;
                    padding: 2px;
                }
            }
        }
    }
}
.widget-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.widget-btn-group {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .nav-item {
        display: inline-block;
        width: 47%;
        margin: 3px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            left: 14px;
        }
        &:first-child::before {
            background-image: url(imgicon/chauau.png);
        }

        &:nth-child(2)::before {
            background-image: url(imgicon/bongdaanh1.png);
        }
        &:nth-child(3)::before {
            background-image: url(imgicon/tay.png);
        }
        &:nth-child(4)::before {
            background-image: url(imgicon/y.png);
        }
        &:nth-child(5)::before {
            background-image: url(imgicon/quocgia.png);
        }
        &:nth-child(6)::before {
            background-image: url(imgicon/duc.png);
        }

        &:nth-child(7)::before {
            background-image: url(imgicon/phap.png);
        }

        &:nth-child(8)::before {
            background-image: url(imgicon/wc.png);
        }
        &.active,
        &:hover {
            a {
                color: red;
                border-color: red;
            }
        }

        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            color: rgb(26, 26, 26);
            background: white;
            border-radius: 5px;
            padding: 7px 5px;
            font-weight: 700;
            text-transform: capitalize;
            border: 1px solid rgb(69, 27, 255);
            padding-left: 42px;
        }
    }
}
.data_social {
    .circle {
        display: inline-block;
        width: 45px;
        height: 45px;
        text-align: center;
        background-color: black;
        border-radius: 50%;
        &:hover {
            background-color: white;
        }
    }
    a {
        display: block;
        margin: 0 auto;
        font-size: 30px;
        color: white;
        &:hover {
            color: black;
        }
    }
}

.sidebar-soikeo {
    &-block {
        position: relative;
        overflow: hidden;
        background: rgba(0, 0, 0, 1);
        border-radius: 10px;
        margin-bottom: 30px;
        img {
            opacity: 0.5;
        }
    }
}

.sidebar-swiper {
    overflow: hidden;
    text-align: center;
    hr {
        background-color: red;
        margin: 15px auto;
        max-width: 80%;
    }

    &-title {
        font-weight: 700;
        font-size: 15px;
        color: #e92d34;
        margin-bottom: 0;
    }
    .swiper {
        background: #ffffff;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 15px;
        p {
            margin-bottom: 10px;
        }
    }
    .mySwiper1 {
    }
    .mySwiper1 {
    }
}
@import 'new-layout';

.nav-tabs.statistic-detail {
    li {
        width: 25%;
        border: 1px solid #e92d34;
        text-align: center;
        a {
            background-color: #e92d34;
            padding: 11px 0;
            color: white;
            display: block;
            font-size: 20px;
            @media screen and (max-width: 991px) {
                font-size: 16px;
            }
            &.active {
                background-color: white;
                color: #e92d34;
            }
        }
    }
}
.author {
    background-color: #fff;
    padding: 10px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    margin: 1rem 0;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    .avatar {
        @media (max-width: 767px) {
            min-width: 100%;
            text-align: center;
        }
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        max-width: 20%;
        width: 20%;
        img {
            display: block;
            max-width: 100px;
            border-radius: 100%;
            margin: auto;
        }
    }
    .bio {
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
        max-width: 80%;
        width: 80%;
    }
}
.footer-offcanvas {
    margin-top: 80px;
    p {
        text-align: center;
        color: white;
    }
}

.sticky-top {
    top: -1px !important;
}

.close-banner-mobile {
    position: absolute;
    top: -2px;
    right: 4px;
    font-size: 18px;
    color: #fff;
}

.fixed-bottom,
.fixed-top {
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
}

.BannerFixedCenter {
    left: 50%;
    transform: translateX(-50%);
}

.BannerFixed {
    position: fixed;
    z-index: 2;
}
